/* CSS Personalizado */
.dropdown-content {
    min-width: 150px; /* Defina a largura desejada */
    top: -68px;
}

.brand-logo {
    margin-left: 10px;
}

.dropdown-trigger {
    margin-right: 40px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}